<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>API F1 Detalle</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">API F1 Detalle</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-detalle *ngFor="let pilot of pilotos" ></app-detalle>


  
</ion-content>
<!--[driverId] = "pilot.driverId" [permanentNumber] = "pilot.permanentNumber" [code] = "pilot.code" [url] = "pilot.url" [givenName] = "pilot.givenName" [familyName] = "pilot.familyName" [dateOfBirth] = "pilot.dateOfBirth" [nationality] = "pilot.nationality"-->