<ion-card>
  <ion-card-header>
    <ion-card-title>{{givenName}} {{familyName}} </ion-card-title>
  </ion-card-header>

  <ion-card-content>
    
    <ion-label>DriverId : {{driverId}}</ion-label><br/>
    <ion-label>Dia de Nacimiento : {{dateOfBirth}}</ion-label><br/>
    <ion-label>Nacionalidad : {{nationality}}</ion-label><br/>
    <ion-label>Wikipedia : {{url}}</ion-label><br/>
    <ion-label>Numero : {{permanentNumber}}</ion-label><br/>
    <ion-label>Codigo : {{code}}</ion-label>
  </ion-card-content>
</ion-card>